body {
  margin: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  background-color: #90EE90;
}

#content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  place-items: center;
  margin-top: 1rem;
}

@font-face {
  font-family: ARCADECLASSIC;
  src: url('./assets/fonts/Arcade classic/ARCADECLASSIC.TTF');
}